@charset "UTF-8";

/* フォントのインポート ***********************************
************************************************************/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Marcellus&family=Noto+Sans+JP:wght@900&family=Noto+Serif+JP&display=swap');


/* 共通の設定 ***************************************
****************************************************/

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

.section-title,
.section-subtitle {
  text-align: center;
}

/* 各セクションの余白設定 */
.cream__background {
  margin: 48px 0;
}

.section {
  margin-top: 80px;
}

.section-subtitle {
  margin-bottom: 40px;
}

/* フォントの設定 */

body {
  font-family: "Noto Serif JP", serif;
}

.top__brand-name,
.top__title,
.footer__shop-name {
  font-family: "Marcellus", serif;
}

.section-title,
.cream-description__title {
  font-family: "EB Garamond", serif;
  font-weight: bold;
}

.section-title {
  font-size: 45px;
  letter-spacing: 2px;
}

.section-subtitle {
  font-size: 20px;
}


/* トップ画像類の設定 *******************************
***************************************************/
.top__background-img {
  height: 720px;
  background-image: url("../image/main_img.jpg");
  background-color: #D6C5B5;
  background-repeat: no-repeat;
  background-position: center;
}

/* メイン画像上のフォント設定 */

.top__container {
  padding-top: 200px;
  padding-left: 223px;
}

.top__brand-name {
  width: 170px;
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-left: 2px;
  margin: 0 auto;
}

.top__brand-name h2 {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.2em;
}

.top__title {
  font-size: 50px;
  line-height: 1.4em;
  letter-spacing: 0.3em;
}

.top__subtitle {
  font-size: 25px;
  margin-top: 6px;
  letter-spacing: 0.3em;
}

/* クリーム購入ボタン類セクションの設定 **********************************
***********************************************************************/
.cream__background {
  display: flex;
  justify-content: center;
}

.cream-buy {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  background-color: #F0F4FF;
  padding: 40px 48px;
  margin: auto 0;
}

.cream-buy__title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.cream-buy__price {
  margin-top: 6px;
  font-size: 16px;
  letter-spacing: 0.1em;
}

.cream-buy__button {
  display: inline-block;
  width: 300px;
  padding: 15px 20px;
  margin-top: 4px;
  background-color: #f0f0f0; /* 軽い背景色 */
  color: black; /* テキスト色 */
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: none; /* リンクの下線を消す */
  border-radius: 50px; /* 角丸 */
  transition: background-color 0.3s; /* 背景色のトランジション */
}

.cream-buy__button--buy {
  display: inline-block;
  width: 300px;
  border-radius: 50px;
}

.cream-buy__button--buy button {
  width: 100%; /* ボタンの幅をフォームの幅に合わせる */
  background-color: #5DD5AB; /* 軽い背景色 */
  color: white; /* テキスト色 */
  font-size: 18px; /* フォントサイズ */
  font-weight: 600; /* フォントの太さ */
  text-align: center; /* テキストを中央寄せ */
  border: none; /* 枠線なし */
  border-radius: 50px; /* 角を丸くする */
  cursor: pointer; /* カーソルをポインターにする */
  outline: none; /* アウトラインを消す */
  transition: background-color 0.3s; /* 背景色の変更にアニメーションを設定 */
}


.cream-buy__button button:hover {
  background-color: #e0e0e0; /* ホバー時の背景色 */
}

.cream-buy__button:hover {
  background-color: #e0e0e0; /* ホバー時の背景色 */
}

.cream-buy__button--onlineshop {
  background-color: #46C4DB; /* オンラインショップへのボタンの色 */
  color: white; /* オンラインショップへのボタンのテキスト色 */
  margin-right: 27px;
}

.cream-buy__button--buy {
  background-color: #5DD5AB; /* 購入ボタンの色 */
  color: white; /* 購入ボタンのテキスト色 */
}


/* クリームの説明セクションの設定 *****************************
*************************************************************/

/* 背景画像の設定 */
.cream-description__background-img {
  width: 100%;
  height: 550px;
  background-image: url("../image/cream_img.jpg");
}

/* 文字の表示位置、コンテンツサイズの設定 */
.cream-description__sentence {
  margin-left: auto;
  margin-right: 236px;
  padding-top: 124px;
  width: 435px;
  height: 200px;
}

.cream-description__title {
  font-size: 38px;
  color: white;
}

.cream-description__sub-title {
  margin-top: 4px;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.cream-description__text {
  margin-top: 16px;
  padding-right: 14px;
  font-size: 14px;
  line-height: 32px;
  color: white;

}

/* フォントの細かい設定 */



/* お客様の声セクションの設定 **************************************************************
******************************************************************************************/


/* sp画像の非表示設定 */
.voices-items__customer-sp-img {
  display: none;
}

/* 細かい余白の微調節 */
.voices-items {
  margin-top: 76px;
}

.voices-items__subtitle {
  margin-top: 2px;
  letter-spacing: 1px;
}




/* コンテナをFlexboxに設定し、各アイテムを横並びにします。 */
.voices-items__inner {
  max-width: 1170px;
  margin: auto;
  padding: 0 60px;
}

/* 各アイテムのスタイルを定義します。 */
.voices-items__item {
  background-color: #DBF7F9; /* 軽い青色の背景 */
  padding: 46px 31px 46px 14px; /* 内側のパディング */
  text-align: center; /* テキストを中央揃えに */
  max-width: 300px; /* アイテムの幅を設定 */
  height: 390px;
}

/* 画像を中央揃えにするためにFlexboxを適用します。 */
.voices-items__customer-img {
  display: flex;
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
  width: 100%; /* 親要素いっぱいの幅 */
  height: 100px; /* 画像の高さを設定、必要に応じて調整 */
}

/* 画像のスタイルを定義します。 */
.voices-items__customer-img img {
  border-radius: 50%; /* 画像を丸くする */
  width: 100px; /* 画像の幅を設定 */
  height: auto; /* 高さを自動で調整 */
  margin-bottom: 10px; /* 画像とテキストの間隔を設定 */
  margin-right: -10px;/*画像の微妙の配置*/
}

/* 名前のスタイルを定義します。 */
.voices-items__name {
  font-size: 1em; /* 名前のフォントサイズを設定 */
  margin-bottom: 16px; /* 名前とテキストの間隔を設定 */
  margin-right: -12px;/*名前の配置微調節*/
}

/* テキストのスタイルを定義します。 */
.voices-items__text {
  text-align: justify;
  font-size: 1em; /* テキストのフォントサイズを設定 */
  line-height: 28px;
  margin-top: -3px;
}

/* slickの設定 ****************************/

.slick-slider {
  display: flex;
  align-items: center;
}

/* slickの左右余白の設定 */

.slick-list {
  max-width: 1020px;
  margin: auto;
}

.slick-slide {
  margin: 0 20px;
}

.slide-arrow {
  position: absolute;
  width: 48px;
}

.prev-arrow {
  top: 171px;
  left: 7px;
}

.next-arrow {
  top: 171px;
  right: 7px;
}

.slick-dots li button:before{
  font-size:12px;/*初期値は6px*/
  color: #46C4DB;
}

.slick-dots li{
  width:8px;/*初期値は20px*/
}

.slick-dots{
  bottom: -38px;/*初期値は-25px*/
  right: 7px;
}

.slick-dots li.slick-active button:before {
  color: #00AFBF;
}

#slick-slide01 {
  width: 200px;
}

/* Q&Aセクションの設定 ******************************
***************************************************/

/* 背景のグラデーション設定 */
.question-answer {
  margin-top: 108px;
  padding: 40px 0 16px;
  background-image: linear-gradient(to right, #F4FFE8, #C6F0FE);
}

.question-answer__inner {
  width: 600px;
  margin: 20px auto;
}

.question-answer__box {
  margin-bottom: 25px;
}

.question-answer__question {
  background-color: white;
  padding: 24px 25px 23px 22px;
  position: relative;
  cursor: pointer;
  color: black;
}

.question-answer__toggle {
  position: absolute;
  top: 50%;
  right: 2rem;
  width: 20px;
  height: 20px;
  margin-top: -10px; /* Adjusted for center alignment */
}

.question-answer__toggle:before {
  content: url("../image/caret-down-fill.png");
  position: absolute;
  top: -4px;
  left: 17px;
  right: 0;
  bottom: 0;
  margin: auto;
}

.question-answer__question.open .question-answer__toggle:before {
  content: url("../image/caret-up-fill.png");
}

.question-answer__answer {
  display: none;
  padding: 0 30px 20px 30px;
  background: #fff;
}

.question-answer__text {
  display: block;
  padding-left: 35px;
  position: relative;
  line-height: 1.5;
  font-size: 15px;
}

.answer-text {
  padding-left: 27px;
  line-height: 28px;
}

.question-answer__text::before {
  content: "Q．";
  position: absolute;
  left: 1px;
  bottom: -2px;
  color: black;
  font-size: 18px;
  font-weight: 500;
  font-family: "EB Garamond", serif;
}

.question-answer__answer .question-answer__text::before {
  content: "A．";
  color: black;
  left: -7px;
  bottom: 84px;
}


/* フッターの設定 *******************************************************************
************************************************************************************/


/* フッターセクションのコンテンツ均等配置設定と背景設定 */
.footer__background-color {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 104px;
  background-color: #0071CE;
}

/* トップに戻るボタンの設定 */
.js__top-button {
  position: absolute;
  width: 40px;
  top: -40px;
  right: 150px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 32px;
}

.footer__shop-name {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: white;
}

.footer__link {
  font-size: 14px;
  color: white;
}

.footer__copy-right {
  font-size: 12px;
  margin-top: 8px;
  color: white;
}

/* footer__link--policyの左右の余白設定 */
.footer__link--policy {
  margin: 0 32px;
}

.footer__company-links {
  display: flex;
  margin-right: -8px;
  list-style: none;
}
@media screen and (max-width:1062px) {
  .voices-items__item {
    height: auto;
  }

}

@media screen and (max-width: 938px) {

  .cream-buy {
    display: block;
    align-items: center;
  }

  .cream-buy__text {
    text-align: center;
  }

  .cream-buy__buttons {
    display: flex;
    justify-content: center;
  }

  .footer__shop-name {
    width: 170px;
    margin: 0 auto;
  }

  .footer__company-links {
    justify-content: center;
  }

  .footer__container {
    display: block;
    text-align: center;
  }
}




/* ここからSP表示設定 **********************************************************
********************************************************************************/
@media screen and (max-width: 767px) {

/* 全体の設定 */
  .section {
    width: 100%;
  }


  .section-subtitle {
    font-size: 15px;
  }

  /* トップ画像の設定 */
  .top__background-img {
    background-image: url("../image/main_sp_img.jpg");
    aspect-ratio: 390 / 450;
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
  }

  .top__brand-name {
    width: 144px;
    padding-left: 1px;
    padding-top: 24px;
  }

  .top__brand-name h2 {
    font-size: 24px;
  }

  .top__container {
    padding-top: 0;
    padding-left: 0;
    margin-top: 365px;
    margin-left: 23px;
  }

  .top__title {
    font-size: 41px;
    line-height: 51px;
  }

  .top__subtitle {
    font-size: 20px;
  }


/* クリーム購入セクション *********************************************************
**********************************************************************************/

.cream__background--top {
  margin-top: 157px;
  margin-bottom: 52px;
}

.cream__background {
  margin-right: 16px;
  margin-left: 16px;
}
.cream-buy {
  display: block;
  width: 100%;
  padding: 21px 46px 16px;
}

.cream-buy__text {
  text-align: center;
}

.cream-buy__title {
  font-size: 18px;
}

.cream-buy__price {
  font-size: 14px;
  margin-top: 4px;
}

.cream-buy__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 15px 0;
}

.cream-buy__button--onlineshop, .cream-buy__button--buy {
  margin-right: 0; /* 個別のボタンの右マージンを取り除く */
}

.cream-buy__button--buy {
  margin-top: 20px;
}

/* クリーム説明セクションの設定 ***************************************************
*********************************************************************************/


.cream-description__background-img {
  background-image: url("../image/cream_sp_img.jpg");
  background-size: cover;
  width: 100%;
  height: 680px;
}

.cream-description__sentence {
  width: 100%;
  padding-top: 46px;
  margin-right: 0;
}

.cream-description__title {
  font-size: 30px;
  text-align: center;
}

.cream-description__sub-title {
  text-align: center;
}

.cream-description__text {
  margin-top: 14px;
  padding-right: 16px;
  padding-left: 16px;
}

/*お客様の声のセクション設定 ********************************************************
**********************************************************************************/

/* 画像表示の切り替え */
.voices-items__customer-sp-img {
  display: block;
}

.voices-items__customer-img {
  display: none;
}

.voices-items__inner {
  padding: 0;
}

.voices-items__customer-sp-img img {
  width: 80px;
  margin: 0 auto;
  margin-right: 66px;
  margin-top: -22px;
}

.voices-items {
  margin-top: 47px;
}

.voices-items__item {
  padding: 46px 31px 24px 14px;
  height: auto;
}

.voices-items__title {
  font-size: 30px;
  letter-spacing: 1px;
}

.voices-items__subtitle {
  margin-top: 1px;
  letter-spacing: 1px;
}

.voices-items__name {
  font-size: 14px;
  margin-bottom: 19px;
  margin-top: 8px;
  margin-left: 5px;
}

.voices-items__text {
  font-size: 14px;
}

/* slickの設定 */
.slick-list {
  margin: 0 34px;
}

.prev-arrow {
  width: 32px;
  top: 152px;
  left: 16px;
  z-index: 2;
}

.next-arrow {
  width: 32px;
  top: 152px;
  right: 16px;
}

.slick-dots li button:before{
  font-size: 10px;/*初期値は6px*/
  color: #46C4DB;
}

.slick-dots li{
  width:7px;/*初期値は20px*/
}

.slick-dots{
  bottom: -31px;/*初期値は-25px*/
  right: 7px;
}

  /* Q&Aセクションの設定 *********************************************************
  ********************************************************************************/


  .question-answer {
    margin-top: 74px;
    padding: 31px 0 12px;
    letter-spacing: 2px;
  }

  .question-answer__box {
    margin-bottom: 20px;
  }

  .question-answer__title {
    font-size: 30px;
  }

  .question-answer__subtitle {
    margin-bottom: 38px;
  }

  .question-answer__inner {
    width: 100%;
  }

  .question-answer__question {
    height: 89px;
    margin: 0 16px;
    padding: 17px 32px 19px 8px;
    letter-spacing: 0px;
  }

  .question-answer__answer {
    margin: 0 16px;
    padding: 0 10px 27px 30px;
  }


  .question-answer__text {
    line-height: 1.9em;
  }

  .answer-text {
    padding-left: 13px;
    margin-top: -5px;
    letter-spacing: 0;
  }

  .question-answer__text::before  {
    left: -16px;
    bottom: 142px;
  }

  .question-answer__text::before {
    left: 7px;
    top: 1px;
    font-size: 16px;
    letter-spacing: 0px;
  }

  .question-answer__answer
  .question-answer__text::before {
    left: -15px;
    top: 0;
  }

  .question-answer__toggle:before {
    top: -16px;
    left: 24px;
    right: 0px;
    bottom: 0;
  }


  /* フッターの設定 **************************************
  **********************************************************/


  .js__top-button {
    right: 15px;
  }

  .footer__background-color {
    height: 165px;
    margin-top: 54px;
  }


  .footer__container {
    display: block;
    text-align: center;
  }

  .footer__shop-name {
    width: 167px;
    margin: -2px auto 0;
  }

  .footer__link {
    font-size: 12px;
  }

  .footer__company-links {
    margin-top: 20px;
    margin-right: 0;
    padding-left: 0;
  }

.footer__link--policy {
  margin: 0 30px;
}

  .footer__copy-right {
    font-size: 11px;
    margin-top: 23px;
  }
}




/* @media screen and (max-width: 750px) {
  .question-answer__inner {
      width: auto;
  }
  .question-answer__toggle {
      right: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .question-answer__toggle {
      right: 0.4rem;
  }
}

@media (max-width: 768px) {
  .voices-items__inner {
      flex-direction: column;
      gap: 15px;
  }
} */
